aiohttp==3.9.3
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
asgiref==3.7.2
attrs==23.2.0
beautifulsoup4==4.12.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==42.0.5
cssbeautifier==1.15.1
dataclasses-json==0.6.4
distro==1.9.0
Django==5.0.3
django-click==2.3.0
django-distill==3.1.3
django-nonrelated-inlines==0.2
django-stubs==4.2.7
django-stubs-ext==4.2.7
djlint==1.34.1
docx2txt==0.8
EditorConfig==0.12.4
frozenlist==1.4.1
h11==0.14.0
html-tag-names==0.1.2
html-void-elements==0.1.0
httpcore==1.0.4
httpx==0.27.0
humanize==4.9.0
idna==3.6
jsbeautifier==1.15.1
json5==0.9.20
jsonpatch==1.33
jsonpointer==2.4
langchain==0.1.10
langchain-community==0.0.25
langchain-core==0.1.28
langchain-text-splitters==0.0.1
langsmith==0.1.15
lxml==5.1.0
marshmallow==3.21.1
multidict==6.0.5
mypy-extensions==1.0.0
numpy==1.26.4
openai==1.13.3
orjson==3.9.15
packaging==23.2
pathspec==0.12.1
pdfminer.six==20221105
pdfplumber==0.10.4
pillow==10.2.0
pycparser==2.21
pydantic==2.6.3
pydantic_core==2.16.3
pyhumps==3.8.0
pypdfium2==4.27.0
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
ruff==0.3.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==2.0.28
sqlparse==0.4.4
tenacity==8.2.3
tiktoken==0.6.0
tqdm==4.66.2
types-pytz==2024.1.0.20240203
types-PyYAML==6.0.12.12
typing-inspect==0.9.0
typing_extensions==4.10.0
urllib3==2.2.1
yarl==1.9.4
